torch<2.10
torchaudio<2.10
torchcodec<0.10
transformers>=4.36.2
einops
gradio>6
inflect
addict
wetext
modelscope>=1.22.0
datasets<4
huggingface-hub
pydantic
tqdm
simplejson
sortedcontainers
soundfile
librosa
matplotlib
funasr
spaces
argbind
safetensors

jpreprocess
sudachipy
sudachidict-full
sudachidict-core
kanalizer
jaconv

ffmpeg-python
xxhash